<app-add-todo (todoAdd)="addtodo($event)"></app-add-todo>
<h1 class="text-center">This is todos-list</h1>
<div *ngIf="this.todos.length===0; else elseBlock">No todos to display </div>
<ng-template #elseBlock>
    <div *ngFor="let todo of todos">
        <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)"></app-todo-item>
    </div>
</ng-template>