<div class="container my-3">
  <h3>Add Todo List</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text"[(ngModel)]="title" class="form-control" name="title" id="title" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="desc">Descreption</label>
      <input type="text" [(ngModel)]="desc" class="form-control" name="desc" id="desc">
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
  </form>
</div>